.btn-orange {
  color: #ffffff;
  background-color: #ff7d1d;
  width: 100px;
  height: 36px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 12px;
}
